{% extends 'base.html' %}

{% block title %}New Sale - Pharmacy Management System{% endblock %}

{% block content %}
<div class="row">
    <div class="col s12">
        <h4 class="page-title">New Sale</h4>
        
        <div class="card">
            <div class="card-content">
                <span class="card-title">Sale Information</span>
                
                <form method="post" id="sale-form">
                    {% csrf_token %}
                    
                    <div class="row">
                        <div class="input-field col s12 m6">
                            <i class="material-icons prefix">person</i>
                            {{ form.patient }}
                            <label>Patient</label>
                            {% if form.patient.errors %}
                                <span class="red-text">{{ form.patient.errors.0 }}</span>
                            {% endif %}
                        </div>
                        
                        <div class="input-field col s12 m6">
                            <i class="material-icons prefix">payment</i>
                            {{ form.payment_method }}
                            <label for="{{ form.payment_method.id_for_label }}">Payment Method</label>
                            {% if form.payment_method.errors %}
                                <span class="red-text">{{ form.payment_method.errors.0 }}</span>
                            {% endif %}
                        </div>
                    </div>
                    
                    <div class="row">
                        <div class="input-field col s12 m6">
                            <i class="material-icons prefix">check_circle</i>
                            {{ form.payment_status }}
                            <label for="{{ form.payment_status.id_for_label }}">Payment Status</label>
                            {% if form.payment_status.errors %}
                                <span class="red-text">{{ form.payment_status.errors.0 }}</span>
                            {% endif %}
                        </div>
                        
                        <div class="input-field col s12 m6">
                            <i class="material-icons prefix">local_offer</i>
                            {{ form.discount }}
                            <label for="{{ form.discount.id_for_label }}">Discount Amount ($)</label>
                            {% if form.discount.errors %}
                                <span class="red-text">{{ form.discount.errors.0 }}</span>
                            {% endif %}
                        </div>
                    </div>
                    
                    <div class="row">
                        <div class="input-field col s12 m6">
                            <i class="material-icons prefix">attach_money</i>
                            {{ form.tax }}
                            <label for="{{ form.tax.id_for_label }}">Tax Amount ($)</label>
                            {% if form.tax.errors %}
                                <span class="red-text">{{ form.tax.errors.0 }}</span>
                            {% endif %}
                        </div>
                    </div>
                    
                    <div class="row">
                        <div class="input-field col s12">
                            <i class="material-icons prefix">note</i>
                            {{ form.notes }}
                            <label for="{{ form.notes.id_for_label }}">Notes</label>
                            {% if form.notes.errors %}
                                <span class="red-text">{{ form.notes.errors.0 }}</span>
                            {% endif %}
                        </div>
                    </div>
                    
                    <div class="divider" style="margin: 20px 0;"></div>
                    
                    <h5>Sale Items</h5>
                    
                    <div class="card-panel light-blue lighten-5">
                        <div class="row" style="margin-bottom: 0;">
                            <div class="col s12">
                                <h6><i class="material-icons tiny">info</i> Quick Add with Barcode (Optional)</h6>
                                <p>You can either scan a barcode to quickly add items or use the dropdown menu below to select items manually.</p>
                            </div>
                            <div class="input-field col s12">
                                <i class="material-icons prefix">qr_code_scanner</i>
                                <input id="barcode_scanner" type="text" placeholder="Scan or enter barcode here (optional)" autocomplete="off">
                                <label for="barcode_scanner">Barcode Scanner</label>
                                
                                <button type="button" id="scanSalesBarcodeBtn" class="btn blue waves-effect waves-light" style="margin-top: 10px;">
                                    <i class="material-icons left">camera_alt</i> Scan with Camera
                                </button>
                                <div id="salesScannerContainer" style="display: none; margin-top: 15px;">
                                    <div class="card-panel">
                                        <video id="salesBarcodeVideo" style="width: 100%; min-height: 250px; max-height: 300px; object-fit: cover; background-color: #000;"></video>
                                        <canvas class="drawingBuffer" style="display: none;"></canvas>
                                        <div class="center-align" style="margin-top: 10px;">
                                            <button type="button" id="stopSalesScanBtn" class="btn red waves-effect waves-light">
                                                <i class="material-icons left">close</i> Cancel Scan
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    {{ formset.management_form }}
                    
                    <div id="sale-items">
                        {% for form in formset %}
                        <div class="sale-item-row">
                            <div class="row">
                                <div class="col s12">
                                    {% for hidden in form.hidden_fields %}
                                        {{ hidden }}
                                    {% endfor %}
                                    
                                    {% if form.instance.pk %}{{ form.DELETE }}{% endif %}
                                </div>
                                
                                <div class="input-field col s12 m6">
                                    <i class="material-icons prefix">local_pharmacy</i>
                                    {{ form.drug }}
                                    <label>Drug</label>
                                    {% if form.drug.errors %}
                                        <span class="red-text">{{ form.drug.errors.0 }}</span>
                                    {% endif %}
                                </div>
                                
                                <div class="input-field col s8 m4">
                                    <i class="material-icons prefix">format_list_numbered</i>
                                    {{ form.quantity }}
                                    <label for="{{ form.quantity.id_for_label }}">Quantity</label>
                                    {% if form.quantity.errors %}
                                        <span class="red-text">{{ form.quantity.errors.0 }}</span>
                                    {% endif %}
                                </div>
                                
                                <div class="col s4 m2" style="padding-top: 25px;">
                                    <a href="#" class="btn-floating waves-effect waves-light red remove-form" title="Remove Item">
                                        <i class="material-icons">remove</i>
                                    </a>
                                </div>
                                
                                <div class="col s12">
                                    <div class="card-panel light-blue lighten-5 item-info" style="display: none;">
                                        <div class="row" style="margin-bottom: 0;">
                                            <div class="col s12 m4">
                                                <strong>Stock:</strong> <span class="stock-qty"></span>
                                            </div>
                                            <div class="col s12 m4">
                                                <strong>Price:</strong> $<span class="unit-price"></span>
                                            </div>
                                            <div class="col s12 m4">
                                                <strong>Subtotal:</strong> $<span class="subtotal"></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="divider"></div>
                        </div>
                        {% endfor %}
                    </div>
                    
                    <div class="row">
                        <div class="col s12 center-align" style="margin-top: 20px;">
                            <a id="add-more" class="btn-floating waves-effect waves-light green tooltipped" data-position="top" data-tooltip="Add Another Item">
                                <i class="material-icons">add</i>
                            </a>
                        </div>
                    </div>
                    
                    <div class="row">
                        <div class="col s12 m6 offset-m6">
                            <div class="card">
                                <div class="card-content">
                                    <span class="card-title">Sale Summary</span>
                                    <table>
                                        <tbody>
                                            <tr>
                                                <th>Subtotal:</th>
                                                <td>$<span id="summary-subtotal">0.00</span></td>
                                            </tr>
                                            <tr>
                                                <th>Tax:</th>
                                                <td>$<span id="summary-tax">0.00</span></td>
                                            </tr>
                                            <tr>
                                                <th>Discount:</th>
                                                <td>$<span id="summary-discount">0.00</span></td>
                                            </tr>
                                            <tr class="total-row">
                                                <th>Total:</th>
                                                <td>$<span id="summary-total">0.00</span></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    {% if form.non_field_errors %}
                        <div class="card-panel red lighten-4">
                            <span class="red-text">{{ form.non_field_errors.0 }}</span>
                        </div>
                    {% endif %}
                    
                    <div class="row">
                        <div class="col s12 center-align">
                            <button class="btn waves-effect waves-light" type="submit">
                                Complete Sale <i class="material-icons right">check</i>
                            </button>
                            <a href="{% url 'sale_list' %}" class="btn waves-effect waves-light red">
                                Cancel <i class="material-icons right">cancel</i>
                            </a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Empty formset template for JavaScript -->
<div id="empty-form" style="display: none;">
    <div class="sale-item-row">
        <div class="row">
            <div class="col s12">
                {% for hidden in formset.empty_form.hidden_fields %}
                    {{ hidden }}
                {% endfor %}
            </div>
            
            <div class="input-field col s12 m6">
                <i class="material-icons prefix">local_pharmacy</i>
                {{ formset.empty_form.drug }}
                <label>Drug</label>
            </div>
            
            <div class="input-field col s8 m4">
                <i class="material-icons prefix">format_list_numbered</i>
                {{ formset.empty_form.quantity }}
                <label for="{{ formset.empty_form.quantity.id_for_label }}">Quantity</label>
            </div>
            
            <div class="col s4 m2" style="padding-top: 25px;">
                <a href="#" class="btn-floating waves-effect waves-light red remove-form" title="Remove Item">
                    <i class="material-icons">remove</i>
                </a>
            </div>
            
            <div class="col s12">
                <div class="card-panel light-blue lighten-5 item-info" style="display: none;">
                    <div class="row" style="margin-bottom: 0;">
                        <div class="col s12 m4">
                            <strong>Stock:</strong> <span class="stock-qty"></span>
                        </div>
                        <div class="col s12 m4">
                            <strong>Price:</strong> $<span class="unit-price"></span>
                        </div>
                        <div class="col s12 m4">
                            <strong>Subtotal:</strong> $<span class="subtotal"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="divider"></div>
    </div>
</div>
{% endblock %}

{% block extra_js %}
<script src="/static/js/sales.js"></script>
<!-- QuaggaJS for barcode scanning -->
<script src="https://cdn.jsdelivr.net/npm/@ericblade/quagga2@1.8.2/dist/quagga.min.js"></script>
<script>
    $(document).ready(function() {
        const scanSalesBarcodeBtn = document.getElementById('scanSalesBarcodeBtn');
        const stopSalesScanBtn = document.getElementById('stopSalesScanBtn');
        const salesScannerContainer = document.getElementById('salesScannerContainer');
        const salesBarcodeVideo = document.getElementById('salesBarcodeVideo');
        const barcodeScannerInput = document.getElementById('barcode_scanner');
        
        // Check if the device has a camera
        const hasCamera = () => {
            return !!(navigator.mediaDevices && navigator.mediaDevices.getUserMedia);
        };
        
        // Hide scan button if no camera is available
        if (!hasCamera()) {
            scanSalesBarcodeBtn.style.display = 'none';
        }
        
        // Start barcode scanning
        scanSalesBarcodeBtn.addEventListener('click', function() {
            salesScannerContainer.style.display = 'block';
            scanSalesBarcodeBtn.style.display = 'none';
            
            Quagga.init({
                inputStream: {
                    name: "Live",
                    type: "LiveStream",
                    target: salesBarcodeVideo,
                    constraints: {
                        facingMode: "environment", // Use the back camera on mobile
                        width: { min: 300, ideal: 640, max: 1200 },
                        height: { min: 200, ideal: 480, max: 900 }
                    },
                    area: { // This helps with aiming the camera properly
                        top: "20%",
                        right: "20%",
                        left: "20%",
                        bottom: "20%"
                    },
                },
                locator: {
                    patchSize: "medium",
                    halfSample: true
                },
                decoder: {
                    readers: [
                        "code_128_reader",
                        "ean_reader",
                        "ean_8_reader",
                        "code_39_reader",
                        "code_39_vin_reader",
                        "codabar_reader",
                        "upc_reader",
                        "upc_e_reader",
                        "i2of5_reader"
                    ]
                },
                multiple: false
            }, function(err) {
                if (err) {
                    console.error(err);
                    M.toast({html: 'Error accessing camera: ' + err});
                    salesScannerContainer.style.display = 'none';
                    scanSalesBarcodeBtn.style.display = 'inline-block';
                    return;
                }
                
                // Start barcode detection
                Quagga.start();
            });
            
            // Process detected barcodes
            Quagga.onDetected(function(result) {
                if (result && result.codeResult && result.codeResult.code) {
                    const barcode = result.codeResult.code;
                    barcodeScannerInput.value = barcode;
                    
                    // Trigger label animation for Materialize CSS
                    M.updateTextFields();
                    
                    // Show success message
                    M.toast({html: 'Barcode detected: ' + barcode});
                    
                    // Process the barcode scan
                    processBarcode(barcode);
                    
                    // Stop scanning
                    stopSalesScanning();
                }
            });
        });
        
        // Stop scanning function
        function stopSalesScanning() {
            if (Quagga) {
                Quagga.stop();
            }
            salesScannerContainer.style.display = 'none';
            scanSalesBarcodeBtn.style.display = 'inline-block';
        }
        
        // Stop scan button event
        stopSalesScanBtn.addEventListener('click', stopSalesScanning);
        
        // Function to process the barcode
        function processBarcode(barcode) {
            // We'll simply trigger the existing barcode processing from sales.js
            // by simulating an "enter" keypress event
            const event = new KeyboardEvent('keydown', {
                'key': 'Enter',
                'code': 'Enter',
                'keyCode': 13,
                'which': 13,
                'bubbles': true
            });
            barcodeScannerInput.dispatchEvent(event);
        }
    });
</script>
{% endblock %}
