{% if messages %}
<div class="card-panel messages-panel">
    {% for message in messages %}
    <div class="message {% if message.tags %}{{ message.tags }}{% endif %}">
        {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
        <i class="material-icons">error</i>
        {% elif message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
        <i class="material-icons">check_circle</i>
        {% elif message.level == DEFAULT_MESSAGE_LEVELS.WARNING %}
        <i class="material-icons">warning</i>
        {% elif message.level == DEFAULT_MESSAGE_LEVELS.INFO %}
        <i class="material-icons">info</i>
        {% else %}
        <i class="material-icons">message</i>
        {% endif %}
        {{ message }}
    </div>
    {% endfor %}
</div>
{% endif %}