{% extends 'base.html' %}

{% block title %}Login - Pharmacy Management System{% endblock %}

{% block content %}
<div class="row" style="margin-top: 50px;">
    <div class="col s12 m8 offset-m2 l6 offset-l3">
        <div class="card">
            <div class="card-content">
                <span class="card-title center-align">Pharmacy Management System</span>
                <div class="divider"></div>
                <div class="section">
                    <h5 class="center-align">Login</h5>
                    
                    <form method="post" action="{% url 'login' %}">
                        {% csrf_token %}
                        
                        <div class="input-field">
                            <i class="material-icons prefix">person</i>
                            <input type="text" id="username" name="username" class="validate" required>
                            <label for="username">Username</label>
                        </div>
                        
                        <div class="input-field">
                            <i class="material-icons prefix">lock</i>
                            <input type="password" id="password" name="password" class="validate" required>
                            <label for="password">Password</label>
                        </div>
                        
                        {% if form.non_field_errors %}
                            <div class="card-panel red lighten-4">
                                <span class="red-text">{{ form.non_field_errors.0 }}</span>
                            </div>
                        {% endif %}
                        
                        <div class="center-align" style="margin-top: 20px;">
                            <button class="btn waves-effect waves-light green darken-1" type="submit">
                                Login <i class="material-icons right">send</i>
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
